image: golang:latest

test:
    script:
        - mkdir -p $GOPATH/src/github.com/rudes/runestats
        - cp -r . $GOPATH/src/github.com/rudes/runestats/
        - cd $GOPATH/src/github.com/rudes/runestats/
        - go get -t ./...
        - go test -v ./...
        - chmod +x .labtest.sh
        - bash ./.labtest.sh
