img.fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

html{font-size:100%;}

body {
    background: #003366;
    font-size: 16px;
    line-height:1.2;
    width: 100%;
    margin: 0;
}

div.title {
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 230px;
    padding: 20px;
    display: flex;
    align-items: center;
}

div.shields {
    background: #aa381e;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    position: relative;
}

div.shields a:link {
    font-size: 120%;
    color: #fff;
}

span.title {
    text-align: center;
    width: 100%;
    font-size: 343%;
    display: table-cell;
    vertical-align: middle;
}

span.subtitle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    font-size: 100%;
}
