<!DOCTYPE html>
<html>
    <title>
	RuneStats : RuneScape Stats for Twitch
    </title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="templates/static/css/base.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <body>
	<a href="https://github.com/rudes/runestats">
	    <img class="fork-me" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
	<div class="title">
	    <h1>RuneStats</h1>
	    <small>RuneScape Stats for Twitch</small>
	</div>
	<div class="shields">
	    <a href="https://travis-ci.org/rudes/runestats">
		<img src="https://travis-ci.org/rudes/runestats.svg?branch=master" alt="Build Status"></a>
	    <a href="https://codeclimate.com/github/rudes/runestats">
		<img src="https://codeclimate.com/github/rudes/runestats/badges/gpa.svg" alt="Code Climate"/></a>
	    <a href="https://godoc.org/github.com/rudes/runestats">
		<img src="https://godoc.org/github.com/rudes/runestats?status.svg" alt="GoDoc"></a><br class="mobile-br">
	    <a href="https://github.com/rudes/runestats/releases">
		<img src="https://img.shields.io/github/release/rudes/runestats.svg?maxAge=2592000" alt="Github Releases"></a>
	    <a href="https://hub.docker.com/r/rudes/runestats">
		<img src="https://img.shields.io/docker/automated/rudes/runestats.svg?maxAge=2592000?style=plastic" alt="Docker Build"></a>
	    <a href="https://coveralls.io/github/rudes/runestats?branch=master">
		<img src="https://coveralls.io/repos/github/rudes/runestats/badge.svg?branch=master" alt="Test Coverage"></a><br>
	    <a href="https://github.com/rudes/runestats/issues">
		<i class="fa fa-github" aria-hidden="true"></i>
		Post Issues Here!
	    </a>
	</div>
	<div class="content">
	    <div class="twitch">
		<h5>Designed for <a href="https://twitch.tv/">Twitch</a>,
		    tested by <a href="https://www.twitch.tv/nurrivia">Nurrivia</a>.
                    Too bad it doesn't work.
		    Check out his Stream.</h5>
	    </div>
	    <div class="twitch-icon">
		<a href="https://twitch.tv/">
		    <i class="fa fa-twitch" aria-hidden="true"></i>
		</a>
	    </div>
	    <div class="example">
		<img src="http://runestats.stream/rudess.png">
	    </div>
	    <div class="howto">
		<h5>How to Use RuneStats</h5>
		<p class="subtext">To use RuneStats simply edit the panels on your twitch stream,
		add a panel for Stats, and link the image. <pre>http://runestats.stream/your_username.png</pre></p>
	    </div>
	</div>
    </body>
</html>
