<!DOCTYPE html>
<html>
    <title>RuneStats : RuneScape Stats for Twitch</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="templates/static/css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="icon" href="https://oldschool.runescape.wiki/images/6/64/Favicon.ico?ca0ee">
    <meta name="description" content="Static images of recently updated osrs stats">
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <body>
	<a href="https://github.com/rudes/runestats">
	    <img class="fork-me" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
	<div class="title">
	    <h1>RuneStats</h1>
	    <small>RuneScape Stats for Twitch</small>
	</div>
	<div class="shields">
	    <a href="https://github.com/rudes/runestats/issues">
		<i class="fa fa-github" aria-hidden="true"></i>
		Post Issues Here!
	    </a>
	</div>
	<div class="content">
	    <div class="twitch">
		<h5>Designed for <a href="https://twitch.tv/">Twitch</a>,
		    tested by <a href="https://www.twitch.tv/nurrivia">Nurrivia</a>.
                    Too bad it doesn't work.
		    Check out his Stream.</h5>
	    </div>
	    <div class="twitch-icon">
		<a href="https://twitch.tv/">
		    <i class="fa fa-twitch" aria-hidden="true"></i>
		</a>
	    </div>
	    <div class="example">
		<img src="http://runestats.stream/rudess.png">
	    </div>
	    <div class="howto">
		<h5>How to Use RuneStats</h5>
		<p class="subtext">To use RuneStats simply paste the url with your username
                    <pre>http://runestats.stream/your_username.png</pre>
                </p>
	    </div>
	</div>
    </body>
</html>
